<%- include('partials/header') %>
<main>
  <div class="main">
    <div class="up">
      <h2><span>4</span><span>0</span><span>4</span></h2>
      <div class="fire">Page not found</div>
      <img src="https://i.postimg.cc/j2PcZK27/superman-04.png" alt="" width="200" class="super">
    </div>
    <div class="down">
      <div class="content">
        <a href="/" class="homeReturn">Retour à l'acceuil</a>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>

